.sign-up{
    background-image: url("../common/pics/Cover Photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.horizontal-centered input[type="text"]::placeholder {
    text-align: right;
}


.sign-up-main-container{
    width: 22em;
    height: 600px;
    top: 50%
}

.sign-up-main-container-header{
    width: 100%;
    height: 4em;
    border-radius: 7px 7px 0px 0px;
}

.sign-up-main-container-header p{
    top: 4%;
}

.sign-up-main-container-header img{
    position: absolute;
    top: 4%;
    right: 30%;
    transform: translate(-50%, -50%);
}

.sign-up-main-container-body{
    height: 25em;
}

.sign-up-name{
    top: 20%;
    border: 0;
    border-bottom: solid #808080 1px;
    direction: rtl;
}
.sign-up-family-name{
    top: 27%;
    border: 0;
    border-bottom: solid #808080 1px;
    direction: rtl;
}
.sign-up-email{
    top: 34%;
    border: 0;
    border-bottom: solid #808080 1px;
}
.sign-up-phone{
    top: 41%;
    border: 0;
    border-bottom: solid #808080 1px;
    direction: rtl;
}

.sign-up-password{
    top: 55%;
    border: 0;
    border-bottom: solid #808080 1px;
    direction: rtl;
}

.sign-up-confirmPassword{
    top: 62%;
    border: 0;
    border-bottom: solid #808080 1px;
    direction: rtl;
}

::placeholder{
    color: #DCDCDC;
}

.sign-up-register-button{
    top: 85%;
}