.fixed-margin {
    margin-top: 60px;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.profile-bar {
    height: 13vh;
    background-color: #FF6B6B !important;
    color: white !important;
    align-items: center;
}

.profile-items {
    padding-right: 15vw;
    align-items: center;
    height: 3vh;
}

.profile-icon {
    margin-left: 1vw;
    filter: brightness(0) invert(1);
}

.profile-content {
    margin-top: 2vh;
}

.profile-account {
    padding-right: 6vw;
}

.profile-tabs {
    justify-content: center;
    margin-top: 10vh;
}

.orders-tab {
    border: none !important;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.charge-tab {
    border: none !important;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.tab-size {
    width: 21vw;
    height: 5vh;
}

.tab-text {
    align-content: center;
    text-align: center;
    margin-top: 0.5vh;
}

.tab-shadow {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-border {
    border-radius: 25px;
    border: thin solid slategray;
    width: 70vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -2.5vh auto auto;
}

.credit-box-height {
    height: 15vh;
}

.charge-account-button {
    background-color: #4ECDC4;
    text-decoration: none;
    width: 15vw;
    padding-right: 2px;
    margin-left: 12vw;
}

::placeholder {
    color: rgba(150,150,151,0.99) !important;
}

.charge-account-input {
    background-color: rgba(244,245,246,0.99);
    width: 24vw;
    text-align: right;
    padding-left: 2px;
    margin-left: -5vw;;
}

.charge-account-items {
    border-radius: 6px;
    border: thin solid rgba(181, 182, 183, 0.99);
    height: 3.5vh;
}

.orders-box {
    align-items: center;
    height: 50vh;
}

.order-items {
    border-radius: 10px;
    border: thin solid slategray;
    width: 60vw;
    height: 4vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: rgba(244,245,246,0.99);
    display: flex;
    flex-direction: row-reverse;
}

.lines {
    border-left: thin solid slategray;
    height: 4vh;
    margin-left: 80%;
}

.delivery-status {
    border-radius: 7px;
    height: 2.5vh;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    width: 23%;
}

.delivery-status-text {
    margin-top: 4px;
    font-size: small;
}

.order-restaurant-name-div {
    width: 45%;
}

.order-restaurant-name {
    margin-top: 8px;
    margin-left: 10vw;
    font-size: small;
}

.line-div {
    width: 8%;
}

.order-id {
    width: 10%;
}

.order-id-text {
    text-align: center;
    margin-top: 7px;
    margin-right: 5px;
}

.vertical-centered {
    align-items: center;
}