.cart-border {
    border: dashed lightgray 1px;
    padding: 15px 15px 0 25px;
    border-radius: 20px;
}

.cart-modal {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -10px;
}

.cart-modal-food-name {
    margin-top: 10px;
    width: 70%;
    margin-left: 60px;
}

.cart-modal-food-name p{
    margin-right: 30px;
}

.cart-modal-purchase {
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    width: 30%;
}

.cart-modal-button {
    margin-right: 10px;
}

.cart-modal-price {
    margin-top: -10px;
}

.cart-modal-price p {
    font-size: 12px;
}

.cart-modal-total-price {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-modal-finalize {
    width: 40%;
    height: 2%;
    margin-left: 30%;
}