.popup-food-box{
    width: 450px;
    height: 280px;
    margin-top: 110px;
}

.popup-restaurant-name{
    margin-top: 30px;
    height: 12%;
}

.popup-food-info-box{
    margin-top: 20px;
    margin-left: -1px;
    height: 53%;
    width: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid lightgray 1px;
}

.popup-cart-div{
    height: 30%;
    width: 100%;
}

.popup-description{
    margin-top: 10px;
    text-align: right;
    direction: rtl;
}

.popup-price{
    direction: rtl;
    font-size: 22px;
    text-align: right;
    margin-top: 15px;
}

.popup-rank{
    font-size: 16px;
    direction: rtl;
}

.popup-food-name{
    direction: rtl;
    text-align: right;
    font-size: 20px;
    margin-right: -80px;
    padding: 4px;
}

.popup-food-button{
    font-size: 14px;
    padding: 8px 15px;
    margin-top: 4px;
}

.popup-plus-icon{
    margin-top: 10px;
}

.popup-minus-icon{
    margin-top: 10px;
}

.popup-amount{
    margin-top: 7px;
}