.modal {
    z-index: 1;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    margin-top: 150px;
    background-color: white;
    width: 430px !important;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 20px !important;
}

.restaurant-name-modal {
    height: 20%;
}

.food-info-modal {
    height: 57%;
}

.purchase-modal {
    height: 23%;
    display: flex;
    flex-direction: row;
    border-top: rgba(140,140,140,0.99) dashed 1px;
    padding-top: 10px;
    margin-top: 20px;
}

.food-image-modal {
    width: 97%;
    height: 84%;
    border-radius: 8px;
}

.image-width {
    width: 35%;
}

.food-width {
    width: 65%;
}

.flex-view {
    display: flex;
    flex-direction: row-reverse;
}

.star-image-modal {
    width: 7%;
    height: 10%;
    margin-right: 5px;
    margin-top: 8px;
}

.food-name-modal {
    font-size: 20px;
    margin-right: 10px;
    text-align: right;
}

.popularity-text-modal {
    margin-top: 7px;
    margin-right: 5px;
}

.description-text {
    margin-top: -10px;
    font-size: 14px;
    color: grey;
    text-align: right;
    margin-right: 10px;
}

.price-part {
    height: 20%;
    display: flex;
    flex-direction: row;
    padding-top: 0.4vh;
}

.prev-price-modal {
    width: 33%;
    color: grey;
    text-decoration: line-through red;
}

.current-price-modal {
    width: 20%;
    text-align: right;
    margin-left: 0;
}

.price-text-modal {
    margin-top: -10px;
    text-align: right;
    font-size: 19px;
    margin-right: 10px;
}

.popover-forbidden {
    margin-left: 50% !important;
}

.unit-modal {
    width: 47%;
}

.count-button {
    margin-top: 5px;
    margin-left: 10px;
}

.purchase-button-modal {
    width: 40%!important;
    height: 35px !important;
    border: none !important;
    border-radius: 5px !important;
}

.food-num-modal {
    width: 23%!important;
    height: 35px !important;
    border: solid thin slategray !important;
    border-radius: 5px !important;
    margin-left: 50px;
}