hr.order-detail-line {
    border: 1px solid lightgray;
    width: 300px;
    margin-top: -10px;
}
.table-head {
    background-color: rgba(244,245,246,0.99);
    line-height: 8px;
}

.head-text {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 11px;
}

.row-text {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.table-row {
    line-height: 8px;
}