@import "../fonts/fonts.css";

.navbar-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
}

.orderNum{
    width: 18px;
    height: 18px;
    border-radius: 25px;
    margin-top: -23px;
    margin-left: -27px;
}

.cart-number-pos{
    margin-top: -1px;
    margin-left: 5px;
}

.eng-font-size16{
    font-size: 13px;
}