.restaurant-menu-under-header{
    width: 100%;
    height: 200px;
}

.restaurant-menu-invalid-status-code{
    margin-top: 100px;
}

.restaurant-menu-logo{
    border: white solid 6px;
}

.restaurant-menu-restaurant-name{
    height: 17vh;
}

.restaurant-menu-restaurant-name p{
    text-align: center;
    margin-top: 130px;
    font-size: 24px;
}

.restaurant-menu-menu{
    height: 1700px;
    margin-top: -22vw;
}

.restaurant-menu-menu-text{
    width: 100%;
    height: 80px;
    margin-top: 38%;
}

.restaurant-menu-menu-text p{
    text-align: center;
    display: inline-block;
    font-size: 26px;
    color: #1A535C;
    border-bottom: solid #1A535C 2px;
}

.restaurant-menu-menu-item-row{
    width: 100%;
    height: 20vw;
    margin-top: 6%;
    padding-right: 5em;
    padding-left: 5em;
    direction: rtl;
}

.restaurant-menu-food-body{
    margin-top: 75%;
    width: 14vw;
    height: 20vw;
}

.restaurant-menu-food-body img{
    margin-top: 40%;
    border-radius: 5px;
}

.restaurant-menu-food-name-rank{
    width: 100%;
    margin-top: 70%;
    direction: rtl;
}

.restaurant-menu-food-name{
    text-align: right;
    margin-top: 10px;
    font-size: 1.3vw;
}

.restaurant-menu-rank{
    width: 100%;
    margin-top: 10px;
    margin-right: 7.2vw;
    font-size: 1.3vw;
}
.restaurant-menu-star{
    /*margin-top: 100%;*/
    margin-right:9.3vw;
}

.restaurant-menu-price{
    width: 100%;
    text-align: center;
    top: 15vw;
    font-size: 1vw;
}

.restaurant-menu-price p{
    text-align: center;
    font-family: Vazir-Thin;
    font-size: 110%;
    direction: rtl;
}

.restaurant-menu-food-button{
    top: 86%;
    padding: 8px 15px;
    font-size: 1.1vw;
}

.restaurant-menu-food-pic-size {
    width: 46%;
    height: 33%;
}

.restaurant-menu-vertical-dashed-line{
    width: 1px;
    height: 72vw;
    transform: translate(64vw, -90%);
    background-color: transparent;
    color: lightgray;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: dashed #1A535C 2px;
    border-bottom: none;
    margin-top: 65vw;
}

.restaurant-menu-cart{
    height: 1700px;
}

.restaurant-menu-cart-box-1{
    width: 100%;
    height: 900px;
    margin-top: 460px;
    margin-left: -12px;
}

.restaurant-menu-cart-name{
    width: 100%;
    height: 6vh;
    margin-left: -20px;
}

.restaurant-menu-cart-name p{
    text-align: center;
    display: inline-block;
    top: 7%;
    border-bottom: solid lightgray 2px;
}

.restaurant-menu-myCol{
    margin-top: 22vw;
}


.restaurant-menu-cart-items{
    width: 80%;
    height: 75%;
    margin-left: 2px;
    top: 50%;
    border-radius: 35px;
    border: dashed lightgray 1px;
}

.restaurant-menu-item{
    width: 80%;
    margin-top: 50px;

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid lightgray 1px;
}

.restaurant-menu-my-col-orders{
    margin-top: 10px;
}

.restaurant-menu-amount-div{
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.restaurant-menu-item-name{
    height: 100%;
    width: 100%;
    margin-top: 19%;
}

.restaurant-menu-item-name p{
    text-align: right;
}

.restaurant-menu-minus{
    text-align: left;
    margin: 50% 7% 7%;
}

.restaurant-menu-number{
    margin-top: 45%;
}
.restaurant-menu-number p{
    font-size: 21px;
}

.restaurant-menu-plus{
    text-align: right;
    margin: 50% 7% 7%;
}

.restaurant-menu-item-price p{
    text-align: left;
    font-size: medium;
    direction: rtl;
}

.restaurant-menu-total-price{
    width: 100%;
    text-align: center;
    font-size: large;
    top: 92%;
}

.restaurant-menu-cart-button{
    top: 95%;
    color: white;
    padding: 8px 15px;
}

.restaurant-menu-food-image{
    margin-top: 5vw;
}

.spinner-location-restaurant-menu {
    margin-top: 50%;
    margin-left: 50%;
}