.cover-photo {
    position:relative;
    clear: both;

}

.cover-photo::before {
    content:"";
    position:absolute;
    left:0;
    width:100%;
    height: 23vh;
    margin-top: 60px;
    background-image: url("../common/pics/Cover Photo.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index:-1;
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 tomato);
    filter: opacity(.5) drop-shadow(0 0 0 orangered);
}

.logo-pos {
    margin-left: 46vw;
    margin-top: calc(3vh + 60px);
}

.title-pos {
    margin-top: 2vh;
    text-align: center;
}

.search-box {
    border-radius: 7px;
    width: 450px;
    height: 6vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5vh auto 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
}

.search-items {
    border-radius: 6px;
    border: rgba(181, 182, 183, 0.99);
    width: 135px;
    height: 40px;
    text-align: center !important;
    margin: 3px;
    background-color: rgba(244,245,246,0.99);
    color: rgba(129,130,131,0.99);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.search-button {
    background-color: #FFE66D;
    color: #1A535C;
}

.food-party-text {
    margin-top: 3vh;
}

hr.food-party-line {
    border: 1px solid;
    width: 120px;
    margin-top: -1.5vh;
}

.time-font {
    font-size: 11px;
    margin-top: 8px;
}

.remaining-time-box {
    border-radius: 7px;
    border: thin solid slategray;
    width: 110px;
    height: 3vh;
    margin: -1vh auto auto;
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.box {
    border-radius: 7px;
    border: thin slategray;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 768px) {
    .restaurant-box-size {
        width: 18%;
        height: 20vw;
        margin: 10px;
    }

    .food-box-size {
        width: 17vw;
    }

    .restaurant-name-size {
        font-size: x-small;
    }

    .view-menu-size {
        height: 2vh;
        width: 10vw;
    }

    .view-menu-text {
        margin-top: 1.5vw;
        font-size: x-small;
    }

    .purchase-text {
        font-size: x-small;
    }

    .price-text {
        font-size: 11px;
    }

    .food-name {
        font-size: 11px;
    }

    .popularity-text {
        font-size: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1450px) {
    .restaurant-box-size {
        width: 18%;
        height: 20vw;
        margin: 20px;
    }

    .food-box-size {
        width: 180px;
    }

    .restaurant-name-size {
        font-size: 70%;
    }

    .view-menu-size {
        height: 2.5vw;
        width: 10vw;
    }

    .view-menu-text {
        /*margin-top: -0.15vw;*/
        font-size: 11px;
    }

    .restaurant-part-text {
        font-size: small;
        margin-top: 0.5vw;
    }
}

@media (min-width: 1450px) and (max-width: 1920px) {
    .restaurant-box-size {
        width: 15%;
        height: 30vh;
        margin: 20px;
    }

    .food-box-size {
        width: 12vw;
    }

    .restaurant-name-size {
        font-size: small;
    }

    .view-menu-size {
        height: 2.2vw;
        width: 10vw;
    }
    .view-menu-text {
        vertical-align: middle;
        font-size: small;
        margin-left: 3vw;
        margin-top: 1vw;
    }

    .restaurant-part-text {
        font-size: small;
        margin-top: 0.5vw;
    }
}

.restaurant-logo {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 50%;
    height: 70%;
}

.restaurants-part {
    margin-bottom: 30px;
}

.show-more-text {
    margin-top: 10px;
}

.show-more-button {
    height: 5%;
    margin-left: 46%;
    width: 10%;
    margin-bottom: 70px;
    border-radius: 6px;
    color: #1A535C !important;
    border: none !important;
}

.restaurant-img {
    height: 62.5%;
}

.restaurant-name-home {
    margin-top: -2vh;
    height: 10.5%;
}

.view-menu {
    border-radius: 6px;
    background-color: #FFE66D !important;
    color: #1A535C !important;
    border: none !important;
    display: flex;
    align-items: center;
}

.view-menu-container {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 27%;
}

.food-party-bar {
    /*overflow-x: scroll;*/
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    height: calc(8vw + 90px);
    border-top: rgba(219,219,219,0.99)solid 2px;
    border-bottom: rgba(219,219,219,0.99)solid 2px;
    -webkit-box-shadow: rgba(204,204,204,0.99) 0 0 5px 0;
}

.food-box {
    border-radius: 7px;
    border: thin slategray;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 1px 2px 2px 1px rgba(0, 0, 0, 0.19);
    margin:auto;
    height: 85%
}

.food-part {
    height: 48%;
    display: flex;
    flex-direction: row-reverse;
}

.price-part {
    height: 20%;
    display: flex;
    flex-direction: row;
    padding-top: 0.4vh;
}

.purchase-part {
    height: 16%;
    display: flex;
    flex-direction: row;
    margin-top: 0.4vh;
}

.restaurant-part {
    height: 16%;
    border-top: rgba(172,172,172,0.99) dashed 1px;
}

.prevPrice {
    width: 50%;
    color: grey;
    text-decoration: line-through red;
}

.currentPrice {
    width: 50%;
    text-align: right;
    margin-right: 3vw;
}

.purchase-elem {
    width: 80%;
    height: 70%;
    border-radius: 7px !important;
    margin-left: 8%;
    margin-bottom: 5%;
}

.purchase-button-text {
    margin-top: -0.7vh ;
}

.purchase-num-border {
    border: thin slategray solid !important;
}

.purchase-button-border {
    border: none !important;
}

.disabled{
    pointer-events: none;
}


.purchase-size {
    width: 50%;
}

.popularity-part {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -15px;
}

.food-image {
    width: 75%;
    height: 78%;
    border-radius: 5px;
    float: right;
    margin: 10px;
}

.food-name {
    margin-top: 10px;
    margin-left: 2px;
}

.price-text {
    margin-top: 10%;
}

.food-logo {
    width: 45%;
}

.food-info {
    width: 55%;
    height: 100%;
}

.star-image {
    width: 15%;
    height: 15%;
}

.spinner-location {
    margin-top: 5%;
    margin-left: 48%;
}
