.mintCreamBGColor{
    background-color: #F7FFF7 !important;
}

.mint-cream-BG-color{
    background-color: #F7FFF7;
}

body {
    background-color: #F7FFF7 !important;
}

.gainsboro-BG-color{
    background-color: #DCDCDC;
}

.pastel-red-BG-color{
    background-color: #FF6B6B !important;
}

.white-BG-color{
    background-color: white !important;
}

.maize-BG-color{
    background-color: #FFE66D;
}

.medium-turquoise-BG-color{
    background-color: #4ECDC4 !important;
}

.light-gray-BG-color{
    background-color: lightgray !important;
}

.grey-BG-color {
    background-color: grey !important;
}

.in-way-BG-color {
    background-color: rgba(155,225,171,0.99);
}

.english-green-color{
    color: #1A535C;
}

.trolley-grey-color{
    color: #808080;
}

.black-color{
    color: black;
}

.red-color{
    color: red;
}

.white-color {
    color: white;
}

.grey-color {
    color: grey;
}