.text-line{
    background-color: transparent;
    color: black;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px 10px;
}


.button{
    border: none;
    border-radius: 3px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
}

.border-radius15{
    border-radius: 15px;
}

.border-radius7{
    border-radius: 7px;
}

.horizontal-centered{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow{
    -webkit-box-shadow: 0px 10px 21px 0px lightgray;
    -moz-box-shadow: 0px 10px 21px 0px lightgray;
    box-shadow: 0px 10px 21px 0px lightgray;
}