.sign-in{
    background-image: url("../common/pics/Cover Photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main-container{
    width: 22em;
    height: 25em;
    top: 50%
}

.main-container-header{
    width: 100%;
    height: 4em;
    border-radius: 7px 7px 0px 0px;
}

.main-container-header p{
    top: 8%;
}

.main-container-header img{
    position: absolute;
    top: 8%;
    right: 30%;
    transform: translate(-50%, -50%);
}

.main-container-body{
    height: 25em;
}

.email{
    top: 30%;
    border: 0;
    /*for text-line*/
    border-bottom: solid #808080 1px;
}

.password{
    top: 44%;
    border: 0;
    /*for text-line*/
    border-bottom: solid #808080 1px;
    direction: rtl;
}

::placeholder{
    color: #DCDCDC;
}


.login-area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 10%;
    margin-top: 30%;

}