.font {
    font-family: "Vazir";
    font-weight: normal;
    font-style: normal;
}

.footer {
    width: 100%;
    height: 4vh;
    background-color: #1A535C;
}

.footer p {
    text-align: center;
    color: white;
    padding: 1vh;
}